* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Good Morning';
    src: url("/fonts/good_morning_2/Good Morning.ttf");
}

@font-face {
    font-family: 'I hate Comic Sans';
    src: url("/fonts/i_hate_comic_sans/IHATCS__.TTF");
}

h1 {
    font-family: 'Good Morning';
}

header li,
header a {
    font-family: 'I hate Comic Sans';
}

body {
    padding: 20px 80px 20px;
    background-color: #08050E;
}

a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    body {
        padding: 20px 20px 0;
    }
}
