* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 80px 0;
}

a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    body {
        padding: 20px 20px 0;
    }
}
