header {
    border: 1px solid black;
}

header #informacoes {
    display: flex;
    border: 1px solid;
    margin: 0 0 20px 0;
}

header #informacoes figure {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

header #informacoes figure img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border: 1px solid;
    padding: 20px;
    background-color: rgba(255, 166, 0, 0.563);
}

header ul a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}