/* header {
    border: 1px solid black;
} */

header #informacoes {
    display: flex;
    margin-bottom: 20px;
}

header #informacoes figure {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

header #informacoes figure img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
}

header #informacoes #conjunto {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header #informacoes #conjunto #titulo-descricao {
    display: flex;
    flex-direction: column;
}

header #informacoes #conjunto #titulo-descricao h3 {
    margin-top: 10px;
}

header #informacoes #conjunto #linguagens {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header #informacoes #conjunto #linguagens a {
    color: white;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    background-color: rgba(255, 166, 0, 0.563);
    text-decoration: none;
}

header #informacoes #conjunto #linguagens a:last-child {
    margin-right: 0;
}

header #navegacao-busca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: rgba(255, 166, 0, 0.563);
}

header #navegacao-busca nav {
    width: 75%;
}

header #navegacao-busca nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul a {
    font-weight: 900;
}

header ul a:hover {
    color: black;
}

header #navegacao-busca #busca {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    margin-left: 20px;
}

header #navegacao-busca #busca input[type="text"] {
    padding: 5px 30px 5px 5px;
    width: 100%;
}

.icone-busca {
    cursor: pointer;
    position: absolute;
    top: 55%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
}