main {
    border: 1px solid black;
}

ul.info{
    list-style-type: square;
    padding: 20px;
}

 main div#botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

main div#botao a{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

main div#botao a:first-child{
    margin-right: 100px;

}

main div#agregado01{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section - Cards - Início */
main #cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

main #cards article {
    cursor: pointer;
    width: 30%;
    height: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

main #cards article:hover {
    transform: scale(1.04);
}

main #cards article h2 {
    text-align: center;
    margin-bottom: 30px;
}

main #cards article p {
    hyphens: auto;
    text-indent: 40px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    max-width: 100%;
}

/* Section - Cards - Fim */

/* Section - Assinar Newsletter - Início */
main #assinar-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 40px 0;
    border: 1px solid black;
}

main #assinar-newsletter h2 {
    margin-bottom: 40px;
}

main #assinar-newsletter form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px 40px;
    border: 1px solid black;
}

main #assinar-newsletter form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

main #assinar-newsletter form div:last-child {
    margin-bottom: 0;
}

main #assinar-newsletter form select,
main #assinar-newsletter form input[type="text"],
main #assinar-newsletter form input[type="tel"],
main #assinar-newsletter form input[type="email"],
main #assinar-newsletter form input[type="date"] {
  display: inline-block;
  margin-top: 5px;
  padding: 8px;
  width: 100%;
}

main #assinar-newsletter form #botao-assinar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main #assinar-newsletter form button {
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 166, 0, 0.563);
}

/* Section - Assinar Newsletter - Fim */

main div#tituloactfig{
    border: 1px solid black;
    background-color: rgba(255, 166, 0, 0.563);

}

main div#titulomanga{
    border: 1px solid black;
    background-color: rgba(255, 166, 0, 0.563);

}

.figura{
    position: relative;
    border: 8px solid white;
    display: inline-block;
    width: 150px;
    height: 250px;
}

img{
    width: 100%;
}

#imgmanga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#post02{
    position: relative;
    display: flex;
    flex-direction: column;

}

section#first{
    border: 1px solid black;
}


