/* main {
    border: 1px solid black;
} */


/* Seção - Banner - Início */

main #banner {
    margin: 20px 0;
    height: 650px;
    background-image: url("https://images3.alphacoders.com/806/806997.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}   

/* Seção - Banner - Fim */


ul.info{
    list-style-type: square;
    padding: 20px;
}

main div#botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

main div#botao a{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

main div#botao a:first-child{
    margin-right: 100px;

}

main div#agregado01{
    display: flex;
}

main div#agregado03{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

main div#agregado04{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

main div#agregado05{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

main div#agregado06{
    display: flex;
    align-items: center;
    padding-left: 20px;
}


/* Section - Cards - Início */

main #cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

main #cards article {
    cursor: pointer;
    width: 30%;
    height: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

main #cards article:hover {
    transform: scale(1.04);
}

main #cards article h2 {
    text-align: center;
    margin-bottom: 30px;
}

main #cards article p {
    hyphens: auto;
    text-indent: 40px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    max-width: 100%;
}

/* Section - Cards - Fim */


/* Section - Assinar Newsletter - Início */

main #assinar-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 40px 0;
    border: 1px solid black;
}

main #assinar-newsletter h2 {
    margin-bottom: 40px;
}

main #assinar-newsletter form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

main #assinar-newsletter form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

main #assinar-newsletter form div:last-child {
    margin-bottom: 0;
}

main #assinar-newsletter form select,
main #assinar-newsletter form input[type="text"],
main #assinar-newsletter form input[type="tel"],
main #assinar-newsletter form input[type="email"],
main #assinar-newsletter form input[type="date"] {
  display: inline-block;
  margin-top: 5px;
  padding: 8px;
  width: 100%;
}

main #assinar-newsletter form #botao-assinar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main #assinar-newsletter form button {
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.563);
}

/* Section - Assinar Newsletter - Fim */


/* Section - First - Início*/
main div#tituloactfig{
    border: 1px solid black;
    background-color: rgba(255, 166, 0, 0.563);

}

main div#titulomanga{
    border: 1px solid black;
    background-color: rgba(255, 166, 0, 0.563);

}

main div#navigate{
    border: 1px solid black;
    background-color: gray;
    padding: 5px;
}

main div#social{
    border: 1px solid black;
    background-color: gray;
    padding: 5px;
}

aside ul a{
    color: black;
    text-decoration: none;
    list-style: none;
}

aside ul a.navi{
    color: black;
    text-decoration: none;
}

div#link ul li{
    list-style: none;
}

div#link ul a{
    color: black;
    text-decoration: none;
}

#first{
    display: flex;
}

section#store{
    width: 80%;
}

section#video-navigate{
    margin-left: 20px;
    width: 20%;
    
}

div.post-main{
    padding: 10px;
}

section#video-navigate #video{
    margin-bottom: 20px;
    border: 1px solid black;
}
section#video-navigate .quadros-gray{
    border:1px solid black;
}

.figura{
    position: relative;
    border: 8px solid white;
    display: inline-block;
    width: 150px;
    height: 250px;
}

img{
    width: 100%;
    margin-left: 0em;
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
}

#imgmanga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#manga{
    position: relative;
    display: flex;
    flex-direction: column;

}

section#first{
    border: 1px solid black;
}

section#novidades div#agregados03{
    display: flex;
    border: 1px solid black;
}

article#post01{
    border:1px solid black;
}

article#post02{
    border:1px solid black;
}

section#novidades{
    border:1px solid black;
    width: 50%;
}

section#novidades ul.info{
    list-style-type: none;
    padding: 20px;
}

section#novidades div.extra{
    background-color: #eeeeee;
    padding-left: 20px;
}

section#novidades ul a{
    color: black;
    text-decoration: none;
    list-style: none;
}

section#novidades ul a:hover {
    color: blue;
}

section#novidades .imagem-novidades{
    position: relative;
    width: 100px;

}

section#sobre{
    border:1px solid black;
    margin-left: 20px;
    width: 50%;
}

section#sobre div.extra{
    background-color: #b44545;
}

section#novidades-sobre{
    display: flex;
}

section#sobre ul li{
    color: black;
    text-decoration: none;
    list-style: none;
}

section#sobre div.info-sobre{
    padding-left: 20px;
    background-color: #eeeeee;
}

section#rank-eventos div.top10-animes{
    padding-left: 20px;
    background-color: #eeeeee;
}

section#rank-eventos{
    border:1px solid black;
}

section#rank-eventos a{
    color: black;
    margin-left: 10px;
}
/* Section - First - Fim*/


/* Section - Últimas Avaliações - Início */

#ultimas-avaliacoes {
    padding: 40px 0;
}

#ultimas-avaliacoes h2 {
    text-align: center;
    margin-bottom: 40px;
}

#ultimas-avaliacoes #avaliacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ultimas-avaliacoes #avaliacoes .card-avaliacao {
    width: 25%;
    padding: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#ultimas-avaliacoes #avaliacoes .card-avaliacao:last-child {
    margin-right: 0;
}

#ultimas-avaliacoes .card-avaliacao .informacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#ultimas-avaliacoes .card-avaliacao .informacoes figure {
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#ultimas-avaliacoes .card-avaliacao .informacoes figure img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#ultimas-avaliacoes .card-avaliacao .informacoes h3 {
    text-align: center;
}

#ultimas-avaliacoes .card-avaliacao .avaliacao {
    margin-bottom: 20px;
    text-align: justify;
}

#ultimas-avaliacoes .card-avaliacao .nota-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ultimas-avaliacoes .card-avaliacao .nota-data .nota,
#ultimas-avaliacoes .card-avaliacao .nota-data .data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ultimas-avaliacoes .card-avaliacao .nota-data .nota span {
    cursor: pointer;
}

#ultimas-avaliacoes #botao-carregar-avaliacoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    padding-right: 128px;
}

#ultimas-avaliacoes #botao-carregar-avaliacoes button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.563);
}

/* Section - Últimas Avaliações - Fim */

/* Section - Rank e Eventos - Início */

#rank-eventos {
    margin-top: 40px;
    padding: 0 40px 40px;
    border: 1px solid black;
}

#rank-eventos h2 {
    text-align: center;
}

#rank-eventos #conteudo {
    display: flex;
    flex-direction: row;
}

#rank-eventos div#agregado09{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado10{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado11{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado12{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado13{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado14{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado15{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado16{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado17{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rank-eventos div#agregado18{
    display: flex;
    align-items: center;
    padding-left: 12px;
}

section#eventos .evento{
    border: 1px solid black;
}

section#eventos h3{
    padding-left: 20px;
    background-color: #eeeeee;
}
/* Section - Rank-Eventos - Fim */
