main {
    border: 1px solid black;
}

ul.info{
    list-style-type: square;
    padding: 20px;
}

 main div#botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

main div#botao a{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

main div#botao a:first-child{
    margin-right: 100px;

}

main div#agregado01{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section - Posts */
main #posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

main #posts article {
    cursor: pointer;
    width: 30%;
    height: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

main #posts article:hover {
    transform: scale(1.04);
}

main #posts article h3 {
    text-align: center;
    margin-bottom: 30px;
}

main #posts article p {
    hyphens: auto;
    text-indent: 40px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    max-width: 100%;
}